body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*T APUESTO A Q NADIE VA A VER ESTO. A NADIE LE EMPORTA COMO ESTAN ECHAS LAS COSAS*/

body, div, nav, main, aside, footer, header, section, ul {
    box-sizing: border-box;
}

header {
    background-image: url(img/mermelada.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    width: 100%;
    height: 100vh;
}

.header-img-overlay {
    backdrop-filter: blur(4px);
    background-color: #0009;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.header-container {
    color: white;
    z-index: 20;
    text-align: center;
    background-color: rgba(246, 185, 171, 0.5);
    margin-top: 10%;
    padding: 10px;
}

header h1 {
    font-size: 30px;
}

header h2 {
    font-size: 20px;
}

nav {
    background-color: rgba(227, 109, 83, 1);
    border-top: #ffe5b5 solid 5px;
}

.nav--ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 17%;
}

.nav__item {
    list-style: none;
    color: #ffe5b5;
    margin: 3px 5px;
    font-size: 20px;
    border-radius: 5px;
    padding: 3px 5px;
    border-bottom: solid 2px transparent;
    transition: ease 0.5s;
}

.nav__item:hover {
    background-color: rgb(255, 112, 87);
    border-bottom: solid 2px rgb(226, 85, 60);
}

.nav__item a {
    color: #ffe5b5;
    text-decoration: none;
}

.insta-div {
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 1px;
    background-color: #9b36b7;
}

.insta-div-ov {
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 20px;
    background: radial-gradient(
        circle at 30% 100%,
        #fed373 5%,
        #f15245 30%,
        #d92e7f 64%,
        #9b36b7 85%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #fff 2px solid;
    border-bottom: #fff 2px solid;
}

.insta-div-ov a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    text-shadow: #111 0px 0px 14px;
    height: 25px;
}

.insta-div-ov img {
    max-width: 25px;
    border-radius: 5px;
    margin-right: 5px;
}

main {
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(#ee907b, #f6b9ab);
}

main h2, main h3 {
    margin: 0;
}

/*#cc0000 #ec5f00 #ea546c*/

.main-sec {
    max-width: 50%;
    min-width: 200px;
    border: 2px solid #cf4f33;
    border-radius: 0px 0px 5px 5px;
    border-top: 4px solid #cf4f33;
    background-color: #ee907b;
    padding: 30px 15px;
    margin: auto;
    color: #fad6ce;
    transition: ease 0.5s;
    text-align: center;
    text-shadow: #111 0px 0px 5px;
    box-shadow: #0013 0px 0px 18px;
    font-size: 20px;
}

.main-sec h2 {
    font-size: 28px;
}

.main-sec:hover {
    box-shadow: #0016 0px 0px 18px;
}

footer {
    padding: 0px 20px;
    width: 100%;
    min-height: 150px;
    background-color: #444;
    border-top: #222 solid 2px;
}

.footer-sec {
    border: #aaa solid 1px;
    background-color: #666;
    padding: 20px;
    width: 45%;
}

.footer-sec p {
    margin: 0;
    color: #fff;
    font-size: 13px;
}

.footer-sec p + p {
    margin-top: 10px;
}

.footer-content {
    width: 90%;
    background-color: #555;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
    min-height: 150px;
    margin: auto;
}

@media screen and (max-width: 550px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-sec {
        width: 90%;
        margin-bottom: 5px;
    }

    .main-sec {
        max-width: 70%;
    }
}
